{% extends 'base.html' %}

{% block head %}
<title>Inscripcion de estudiante Regular</title>
<style>
    .table-container {
      display: flex;
    }
    table {
      border: 1px solid black;
      margin-right: 20px;

    }

    h3{
        text-align: center;
    }

    .input-field{
        margin: 10px auto;
        text-align: center;
      }

  </style>
{% endblock %}

{% block body %}

<div class="content2">
    <h1 style="text-align: center">Inscripcion de estudiante Regular</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Cedula</th>
        </tr>
        <tr>
            <td>{{estudiante.nombre}}</td>
            <td>{{estudiante.cedula}}</td>
        </tr>
    </table>

</div>

<div class="content">
    
    <br>
    <br>

    <h3 >Selecciona asignaturas a inscribir </h3>
    <div class="table-container">
        <table>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
          </tr>
          
          {% for asignatura in asignaturas %}
          <tr>
            <td>{{asignatura.cod_asig}}:</td>
            <td>{{asignatura.nombre}}</td>
          </tr>
        
          {% endfor%}
        </table>
      </div>
      <br>
      <br>
    <form id="form" method="POST" action="/inscripcion_regular/{{estudiante.cod_estudiante}}" >
        <h3>Ingrese el codigo de la asignatura que desee inscribir</h3>
        <input type="number" id="ASIGNATURA" name="ASIGNATURA">
        <button class="button" type="submit" onclick="verificarAsignatura(asignaturas)">Inscribir</button> 
        <h2 >{{mensaje}}</h2>
        
    </form>
</div>



{% endblock %}